<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <title>ÇDM Attendance</title>
       <style>
           #main{
            position: fixed;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                        }
            h1{
                text-align: center;
                font-size: 70px;
              
                color: red;
            }
           </style>
<script>
    alert("Thank you for letting me know!");

</script>



    </head>
    <body>
        <h1>Thank you</h1>
       <div id="main">
        <h1>See you in the future lessons.</h1>
       </div>
    </body>
</html>